.btn {
    display: inline-block;
    padding: 10px 30px;
    color: yellow;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color .5s, color .5s, border .5s;
}
.btn-full {
    background-color: black;
    border: 1px solid yellow;
    color: yellow;
    margin-right: 15px;
}
.btn-full:hover {
    background-color: yellow;
    color: black;
}
.btn-ghost {
    color: #FFFFFF;
    border: 1px solid white;
}
.btn-ghost:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}
.btn-pack {
    background-color: yellow;
    color: black;
    margin-bottom: 20px;
}
.btn-contact {
    background-color: yellow;
    color: #FFFFFF;
    margin-right: 15px;
}